.textalign{
	/*text-align:left;*/
	/*text-align:right;*/
	/*text-align:center;*/
	text-align:justify;
}

.textdecoration{
	/*text-decoration:underline;*/
	/*text-decoration:line-through;*/
	text-decoration: overline;
}

.textline{
	letter-spacing:1px;
	/*line-height:20px*/
	/*line-height:3;*/
	line-height:300%;
}

.textshadow{
	   			/*horizontal vertical blur color*/
	   				/*h v b c*/
	   /*text-shadow:	5px 0 5px red;*/
	   /*text-shadow: 0 5px 5px red;*/
	   text-shadow: 5px 5px 5px red;	
}
